/* Global Declaration */
.btn-primary {
	padding: 10px 30px;
	color: #C8102E;
	border-color: #C8102E;
	background: transparent;
	font-size: 20px;
}

.btn-primary:hover {
	background-color: #A40E25;
	border-color: #A40E25;
	padding: 10px 35px;
}

.call-to-action {
	font-size: 20px;
	text-align: center;
}

.circle-icon {
    background: transparent;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    text-align: center;
	padding-top: 15px;
	border: 3px solid #C8102E;
	position: relative;
	font-size: 40px !important;
}

.content-container {
	width: 100%;
	height: 100%;
	background: white;
	z-index: 2;
	padding: 100px 50px;
}

.content-container-primary {
	background-color: #252525;
	color: #8E8E8E;
}

.footer {
	background-color: #1B1B1B;
	padding: 20px 50px;
	text-align: center;
	color: #656565;
}

.footer-widget {
	background-color: #252525;
	color: #8E8E8E;
	padding: 100px 50px;
}

.header-container {
	width: 100%;
	position: relative;
}

.header-image > img {
	width: 100%;
}

.headerSubTitle {
	font-size: 28px !important;
	color: slategray;
}

.headerTitle {
	font-size: 52px !important;
}

.header-text {
	position: absolute;
	text-align: center;
	width: 100%;
	height: auto;
	margin: auto;
	top: 15%;
	bottom: 25%;
}

.highlight {
	margin-bottom: 10px;
}

.highlight-icon {
	text-align: center
}

.iframe-container {
	position: relative;
    padding-bottom: 53.55%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
	position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.inline {
	display: inline;
}

.primaryColor {
	color: #C8102E;
}

span.socialMedia {
	color: #8E8E8E;
	font-size: 24px;
	margin: 0px 10px;
}


/* Phone Format */
/* Responsive Font Size */
div,p {
	font-size: 4vw;
}
h1,h2,h3 {
	font-size: 6.5vw;
}

.image-container {
	width: 100%;
	height: 550px;
	background: #55e6c5;
	z-index: 1;
}

#header_image {
	background: url(../img/gvsu-pond.jpg) 59% 74%;
	background-attachment: fixed;
	background-size: cover;
}

#image_1 {
	background: url(../img/CCI_fam.png) 55% 10%;
	background-attachment: fixed;
	background-size: cover;
}

#image_2 {
	background: url(../img/rosy-mound-alt.jpg) 55% 15%;
	background-attachment: fixed;
	background-size: cover;
	height: 200px;
}

/* Tablet Format */
@media (min-width: 768px){
	/* Responsive Font Size */
	div,p {
		font-size: 2vw;
	}
	h1,h2,h3 {
		font-size: 3.5vw;
	}
	
	.image-container {
		width: 100%;
		height: 920px;
		background: #55e6c5;
		z-index: 1;
	}
	
	#header_image {
		background: url(../img/gvsu-pond.jpg) 51% 57%;
		background-attachment: fixed;
		background-size: cover;
	}

	#image_1 {
		background: url(../img/CCI_fam.png) 55% 10%;
		background-attachment: fixed;
		background-size: cover;
	}
	
	#image_2 {
		background: url(../img/rosy-mound-alt.jpg) 55% 30%;
		background-attachment: fixed;
		background-size: cover;
		height: 550px;
	}
}

/* Desktop Format */
@media (min-width: 1024px){
	/* Responsive Font Size */
	div,p {
		font-size: 1.5vw;
	}
	h1,h2,h3 {
		font-size: 2.5vw;
	}
	
	.image-container {
		width: 100%;
		height: 1250px;
		background: #55e6c5;
		z-index: 1;
	}
	
	#header_image {
		background: url(../img/gvsu-pond.jpg) 51% 43%;
		background-attachment: fixed;
		background-size: cover;
	}
	
	#image_1 {
		background: url(../img/CCI_fam.png) 55% 5%;
		background-attachment: fixed;
		background-size: cover;
	}
	
	#image_2 {
		background: url(../img/rosy-mound-alt.jpg) 0% 5%;
		background-attachment: fixed;
		background-size: cover;
		height: 750px;
	}
}